body {
	overflow-y: scroll;
	background: silver;
	font-family: arial;
	font-size: 14px;
}

section {
	width: 870px;
	background: #fff;
	margin: 30px auto;
	text-align: center;
}

section:after {
	content: '';
	display: block;
	clear: both;
}

h1 {
	padding: 20px;
	background: #ddd;
}

article {
	outline: 1px dotted red;
	width: 250px;
	float: left;
	margin-left: 30px;
	margin-bottom: 30px;
}

article:nth-of-type(3n+1) {
	clear: both;
}

figure {
	margin: 0;
}

figure a {
	text-decoration: none;
	position: relative;
	display: block;
	overflow: hidden;
	transition: all 0.3s linear;
}

figure a:before {
	content: '';
	display: block; 
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 5;
}

figure a:hover:before {
	background: rgba(0,128,255,0.5);
	transition: all 0.3s linear;
}

figure img {
	display: block;
	z-index: 3;
	transition: all 0.3s linear;
}

figure a:hover img {
	transform: rotate(15deg) scale(1.35);
}

figure a:after {
	position: absolute;
	top: -50px; left: 50%;
	z-index: 7;
	content: "\f00e";
	font-family: 'FontAwesome';
	font-size: 60px;
	margin-left: -30px;
	margin-top: -30px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	color: silver;
	transition: all 0.3s linear;
	text-shadow: 1px 1px 1px #222;
}

figure a:hover:after {
	top: 50%;
}

.filter {
	cursor: pointer;
	text-transform: capitalize;
}

#gallery-mixit .mix{
	display: none;
}

#bx-pager img {
	width: 100px;
}

.bx-caption {
	line-height: 25px;
}

@media screen and (max-width: 700px) {
	section {
		width: 590px;
	}
	article:nth-of-type(2n+1) {
		clear: both;
		background: yellow;
	}	
}